@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: "Berkeley Mono NerdFont";
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-right: 8px;
    padding-left: 2px;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em 
}
